
{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block contenido %}

    {% if user.is_authenticated %}

    <p>Usuario: {{ user.username }} <a href="{% url 'Aplicaciones.Usuarios:cerrar_sesion' %}" class="btn btn-outline-primary">Cerrar Sesion</a></p> 
    {% else %}
    <a href="{% url 'Aplicaciones.Usuarios:registrar_usuario' %}" class="btn btn-outline-primary">Registrar</a>
    <a href="{% url 'Aplicaciones.Usuarios:iniciar_sesion' %}" class="btn btn-outline-primary">Login</a>
    {% endif %}

        <div class="conteiner">
            <div class="row">
                <div class="col-md-12 search">
                    <form method="get">
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control" placeholder="Ingrese palabra clave" name="buscar" value="{{ request.GET.buscar}}">
                                <span class="input-group-list">
                                    <i class="icon icon-search"></i>
                                    <button type="submit" class="boton btn-success">Buscar</button>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    <div>
        <p>Categorias</p>
        <a href="{% url 'Aplicaciones.Articulos:listar_articulos' %}">Todos los articulos</a>
        {% for categoria in categorias %}
        <a href="{% url 'Aplicaciones.Articulos:listar_articulos' %}?categoria={{categoria.pk}}">{{categoria.nombre}}</a>
        {% empty %}
        No hay categorias
    {% endfor %}

    </div>
    <div>
       <p>Ordernar por fecha</p>
        <a href="{% url 'Aplicaciones.Articulos:listar_articulos' %}?order_by=DES">Mas Recientes</a>
        <a href="{% url 'Aplicaciones.Articulos:listar_articulos' %}?order_by=ASC">Mas Antiguos</a>
    </div> 
    
    <div>
        <p>Ordernar Alfabeticamente</p>
        <a href="{% url 'Aplicaciones.Articulos:listar_articulos' %}?order_by_titulo=ASC">Ascendente</a> 
        <a href="{% url 'Aplicaciones.Articulos:listar_articulos' %}?order_by_titulo=DES">Descendiente</a>     
     </div>
    <h1>Artículos</h1>
    {% if user.tipo_usuario == 'CO' and user.is_authenticated %}
    <a href="{% url 'Aplicaciones.Articulos:agregar_articulo' %}">Agregar Articulo</a>
    {% endif %}
    {% if articulos %}
    <ul>
        {% for articulo in articulos %}
        <li>{{ articulo.titulo }} - {{ articulo.fecha_publicacion }} ||
            <a href="{% url 'Aplicaciones.Articulos:articulo_detalle' articulo.pk  %}">Ver Detalles y Comentarios</a> ||
            {% if user.tipo_usuario == 'CO' and user.is_authenticated %}
            <a href="{% url 'Aplicaciones.Articulos:modificar_articulo' articulo.pk  %}">Editar</a>||
            <a href="{% url 'Aplicaciones.Articulos:eliminar_articulo' articulo.pk  %}">Eliminar</a>
            {% endif %}
        </li>
        {% endfor %}        
    </ul>
    {% else %}
    <p>No hay articulos.</p>
    {% endif %}
    
    <!-- paginacion -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primero</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Ultimo &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
