{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Acerca De</title>
{% endblock %}
{% block contenido %}
<body>
    <main id="main">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center mb-5">
              <h1 class="page-title">Acerca de</h1>
            </div>
          </div>
  
          <div class="row mb-5">
  
            <div class="d-md-flex post-entry-2 half">
              <a href="#" class="me-4 thumbnail">
                <img src="{% static 'img/logo.jpg' %}" alt="" class="img-fluid">
              </a>
              <div class="ps-md-5 mt-4 mt-md-0">
                <div class="post-meta mt-4">Acerca de</div>
                <h2 class="mb-4 display-4">Integrantes</h2>
  
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Santiago Francisco Risso</li>
                    <li class="list-group-item">Iara Abril Kauffman Cermak</li>
                    <li class="list-group-item">Christian Martín Fernández </li>
                    <li class="list-group-item">Bettiana Farias </li>
                    <li class="list-group-item">Brenda Uria</li>
                    <li class="list-group-item">Matías Nicolás Riquelme Tirado </li>
                    <li class="list-group-item">Eliana Gisel Gomez </li>
                  </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section>
  
      
    </main><!-- End #main -->

  
  </body>
  
  </html>


{% endblock %}