<!-- ======= Footer ======= -->
<footer id="footer" class="footer">


    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright 2023 <strong><span></span></strong>. Todos los derechos reservados.
            </div>

            <div class="credits">
              Diseñado para <b>Informatorio 2023 - Etapa 2 - Comison 4 - Grupo 2</a></b>
            </div>

          </div>

          <div class="col-md-6">
            <div class="mb-3 mb-lg-0 text-center text-md-end">
              <h2 > <a href="https://github.com/SFRisso/Blog_Info2023_Grupo2" class="link-info"><i class="bi bi-github"></i> Repositorio </a></h2> 

            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>